* {
  font-family: "Playfair Display", serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
  color: #777;
}
body a {
  color: #777;
  text-decoration: none;
  transition: 0.4s;
}
body ul {
  list-style: none;
}

.topo {
  display: flex;
  justify-content: space-between;
  max-width: 1170px;
  padding: 1.5rem 0;
  margin: 0 auto;
}
.topo-brand {
  color: #fff;
  font-size: 3rem;
}
.topo-navbar ul {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.topo-navbar ul li {
  margin: 0 1rem;
  text-transform: uppercase;
  font-size: 0.8rem;
}
.topo-navbar ul li .active {
  color: #20c997;
}
.topo-navbar ul li a:hover {
  color: #fff;
}
.topo-social ul {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.topo-social ul li {
  margin: 0 1rem;
}
.topo-social ul li a:hover {
  color: #fff;
}

.gallery {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1170px;
  padding: 1.5rem 0;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
}
.gallery-card {
  width: 31%;
  height: 400px;
  margin-bottom: 4%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;
}
.gallery-card-title {
  font-size: 2rem;
  font-weight: 300;
  margin-bottom: 1rem;
}
.gallery-card-btn {
  padding: 0.6rem 2rem;
  border: 2px solid #fff;
  color: #fff;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.gallery-card-btn:hover {
  background-color: #fff;
  color: #000;
}
.gallery #card-1 {
  background-image: url("../img/tecnologia.jpg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  filter: grayscale(100%);
  transition: 0.6s;
}
.gallery #card-1:hover {
  background-size: 110%;
  filter: grayscale(0%);
  background-image: linear-gradient(rgb(0, 0, 0)), url("../img/tecnologia.jpg");
}
.gallery #card-2 {
  background-image: url("../img/tecnologia.jpg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  filter: grayscale(100%);
  transition: 0.6s;
}
.gallery #card-2:hover {
  background-size: 110%;
  filter: grayscale(0%);
  background-image: linear-gradient(rgb(0, 0, 0)), url("../img/tecnologia.jpg");
}
.gallery #card-3 {
  background-image: url("../img/tecnologia.jpg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  filter: grayscale(100%);
  transition: 0.6s;
}
.gallery #card-3:hover {
  background-size: 110%;
  filter: grayscale(0%);
  background-image: linear-gradient(rgb(0, 0, 0)), url("../img/tecnologia.jpg");
}
.gallery #card-4 {
  background-image: url("../img/tecnologia.jpg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  filter: grayscale(100%);
  transition: 0.6s;
}
.gallery #card-4:hover {
  background-size: 110%;
  filter: grayscale(0%);
  background-image: linear-gradient(rgb(0, 0, 0)), url("../img/tecnologia.jpg");
}
.gallery #card-5 {
  background-image: url("../img/tecnologia.jpg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  filter: grayscale(100%);
  transition: 0.6s;
}
.gallery #card-5:hover {
  background-size: 110%;
  filter: grayscale(0%);
  background-image: linear-gradient(rgb(0, 0, 0)), url("../img/tecnologia.jpg");
}
.gallery #card-6 {
  background-image: url("../img/tecnologia.jpg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  filter: grayscale(100%);
  transition: 0.6s;
}
.gallery #card-6:hover {
  background-size: 110%;
  filter: grayscale(0%);
  background-image: linear-gradient(rgb(0, 0, 0)), url("../img/tecnologia.jpg");
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0 3rem;
}

/*# sourceMappingURL=style.css.map */
